
<div class="row g-0 justify-content-center align-items-end pt-5">
  <div class="col-sm-7">
    <label  for="subjectNameInput">اسم المادة :</label>
    <input [(ngModel)]="subjectName" type="text" class="form-control shadow-none" id="subjectNameInput">
  </div>
  <div class="col-sm-2">
    <button [disabled]="!subjectName" [routerLink]="['/new-exam/subject-questions', subjectName]" class="btn btn-main mt-2 mt-sm-0 me-sm-2">ابدأ <i class="fa-solid me-1 fa-arrow-right-to-bracket fa-flip-horizontal"></i></button>
  </div>
</div>
