
<section class="pt-4" dir="rtl">
  <div class="row justify-content-center " >
    <div class="col-10 my-table p-3 pt-5  border border-2 rounded-2">
      <h3 class="bg-alt text-white rounded-pill px-4 text-center m-0 py-2">اختبار {{subject.name}}</h3>

      <div *ngFor="let question of subject.questions; let i = index" [class.mb-4]="!isAdmin" class="border-bottom pb-1 mb-3">
        <h4 class="text-main fs-5 fw-bold mb-4">س {{i+1}} : <span class="me-2 text-black fw-medium">{{question.question}}</span></h4>

        <ul class="list-unstyled p-0 mb-1">
          <div class="answers row">
            <div class="answer col-md-6 d-flex align-items-center mb-3" *ngFor="let answer of choices; let j = index">
              <input *ngIf="!isAdmin && !finish" [(ngModel)]="studentAnswers[i]" [value]="answer" type="radio" class="form-check-input mt-0 border-secondary cursor-pointer ms-2 fs-6"  [name]="'answersForQ'+i" [id]="'ques'+i+'ans'+j">
              <label [for]="'ques'+i+'ans'+j" class="form-check-label flex-grow-1"
                [ngClass]="{
                  'bg-success text-white': finish && ( answer == question.correctAnswer),
                  'bg-danger text-white': finish && (studentAnswers[i] == answer)  && (studentAnswers[i] != question.correctAnswer),
                  'cursor-pointer': !finish && !isAdmin
                }"
              ><span *ngIf="isAdmin || finish">({{answer}})</span> {{question.answers[answer]}}</label>
            </div>
          </div>
        </ul>

        <div *ngIf="isAdmin" class="d-flex justify-content-between align-items-center mb-3">
          <p class="fs-6 mb-0 text-success">الاجابة الصحيحة : <span>{{question.correctAnswer}}</span></p>
          <button class="btn btn-danger" (click)="onDelete(i)">حذف</button>
        </div>
      </div>

      <div class="d-flex justify-content-center gap-2">
        <button *ngIf="isAdmin" routerLink="/subjects" (click)="onCancel()" class="btn btn-danger mt-4 mb-2">الغاء الاختبار</button>
        <button *ngIf="isAdmin" routerLink="/subjects" class="btn btn-success mt-4 mb-2" >تأكيد</button>
        @if (!isAdmin && !finish) {
          <button class="btn btn-main mt-1 mb-2" (click)="studentSubmit()">انهاء الاختبار</button>
        } @else { 
          <div *ngIf="!isAdmin" class="alert text-muted bg-main-lighter fs-5">
            النتيججه النهائية : <span class="text-black me-2 fs-4 fw-medium">{{degree}}</span>
          </div>
        }
      </div>
    </div>
  </div>
</section>