/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

$main-color: #CB997E;
$main-light: #DDBEA9;
$main-lighter: #FFE8D6;
$main-hover: #d0a38b;

$alt-color: #6B705C;
$alt-light: #A5A58D;
$alt-lighter: #B7B7A4;
$alt-hover: #7a7e6c;



body {
  font-family: "Cairo", sans-serif;
}

.bg-main {
  background-color: $main-color !important;
}
.bg-main-light {
  background-color: $main-light !important;
}
.bg-main-lighter {
  background-color: $main-lighter !important;
}

.bg-alt {
  background-color: $alt-color !important;
}
.bg-alt-light {
  background-color: $alt-light !important;
}
.bg-alt-lighter {
  background-color: $alt-lighter !important;
}

.text-main {
  color: $main-color !important;
}
.text-alt {
  color: $alt-color !important;
}

form, .my-table {
  position: relative;
  h3 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content !important;
  }
}

.btn-alt {
  background-color: $alt-color !important;
  color: white !important;
  width: fit-content;
  transition: .2s;
  &:hover {
    background-color: $alt-hover !important;
  }
}
.btn-main {
  background-color: $main-color !important;
  color: white !important;
  width: fit-content;
  transition: .2s;
  &:hover {
    background-color: $main-hover !important;
  }
}

a {
  text-decoration: none;
}

input {
  border-color: #d3d3d3 !important;
  caret-color: $alt-light !important;
  &::placeholder {
    color: #bbbbbb !important;
    transition: .2s;
  }
  &:focus {
    border-color: $alt-color !important;
    &::placeholder {
      opacity: 0;
    }
  }
  &.is-valid {
    border-color: #198754 !important;
  }
  &.is-invalid {
    border-color: #dc3545 !important;
  }
}

.bg-black-light {
  background-color: #e1e2de !important;
}

.btn {
  transition: .2s;
}

.cursor-pointer {
  cursor: pointer;
}

select {
  border-color: #d3d3d3 !important;
  &:focus {
    border-color: rgba($main-color, 0.25) !important;
    box-shadow: 0 0 0 0.25rem rgba($main-color, 0.25) !important;
  }
}

.toast-bottom-center {
  bottom: 3rem;
  margin: 0 auto;
  right: 0;
  left: 0;
  width: 100%;
}